absl-py
altgraph
appdirs
astor
backcall
certifi
chardet
click
cmake
colorama
common
cuda
cycler
datas
decorator
distlib
dlib-19.7.0
face-detection
face-recognition
face-recognition-models
filelock
Flask
future
gast
gpu
grpcio
gunicorn
h5py
idna
importlib-metadata
importlib-resources
imutils
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mock
numpy
opencv-python
pandas
parso
pbr
pefile
pickleshare
Pillow
prompt-toolkit
protobuf
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
pytz
pywin32-ctypes
requests
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
torch
torchvision
traitlets
typing-extensions
urllib3
virtualenv
wcwidth
Werkzeug
zipp
